*{
    box-sizing: border-box;
}
/*
==================================
This the first Header Section where we have a navbar inside 
aligned using flex-box
==================================

*/
body{
    display: grid;
}

#header{
    display: flex;
    justify-content: space-between;
}

#nav-bar{
    margin: 5px;
    padding:5px;
    display: flex;
    align-items: center;
}


#nav-bar a{
    margin: 0px 10px;
}

.nav-container{
    background-color: #007fff;
    position: sticky;
}


/*
========================
Aligning the Infor-section div which is second section fo the project
Using flex-box centering things here
=======================
*/
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    width: 40%;
}

.form-container form{
    display: flex;
    flex-direction: column;
}
.form-container form label{
    text-align: center;
}
.form-container form label,input{
    margin-top: 10px;
}

/*
=========================================
Third section for Vide dont have a clue right now XD
=========================================
*/

.video-section{
    width: 80%;
}


/*Features Section here*/

#features{
    width: 100%;
    align-self: center;
}


.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc{
    width: 50%;
}


