*{
    box-sizing: border-box;
}
/*
==================================
This the first Header Section where we have a navbar inside 
aligned using flex-box
==================================

*/
body{
    display: grid;
}

#header{
    display: flex;
    justify-content: space-between;
}

#nav-bar{
    margin: 5px;
    padding:5px;
    display: flex;
    align-items: center;
}


#nav-bar a{
    margin: 0px 10px;
}

.nav-container{
    background-color: #007fff;
    position: sticky;
}


/*
========================
Aligning the Infor-section div which is second section fo the project
Using flex-box centering things here
=======================
*/
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    width: 40%;
}

.form-container form{
    display: flex;
    flex-direction: column;
}
.form-container form label{
    text-align: center;
}
.form-container form label,input{
    margin-top: 10px;
}

/*
=========================================
Third section for Vide dont have a clue right now XD
=========================================
*/

.video-section{
    width: 80%;
}


/*
======================
Features Section here
======================
*/

#features{
    width: 100%;
    align-self: center;
}


.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc{
    width: 50%;
}

/*
============================================
Pricing Card Section
============================================
*/
.pricing{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.card-container{
    display: flex;
    max-width: 80%;
}


.card{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    width: 60%;
    margin:0px 50px;
    border: 5px solid beige;
    border-radius: 10%; 
}

.pricing .card-container .card ol{
    padding-left:15px;
}

.pricing .card-container .card h4{
    text-align: center;
}

.pricing .card-container .card h3{
    padding: 0px;
}

/*
===================================
Footer Section
==================================
*/
footer{
 display: flex;
 align-self: center;
 justify-content: flex-end;
 width: 80%;
}

.footer{
    display: flex;
    justify-content: center;
}
