*{
    box-sizing: border-box;
}
/*
==================================
This the first Header Section where we have a navbar inside 
aligned using flex-box
==================================

*/
body{
    display: grid;
}

#header{
    display: flex;
    justify-content: space-between;
}

#nav-bar{
    margin: 5px;
    padding:5px;
    display: flex;
    align-items: center;
}


#nav-bar a{
    margin: 0px 10px;
}

.nav-container{
    background-color: #007fff;
    position: fixed;
    width: 100%;
}

.fixed-container{
    position: fixed;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

/*
========================
Aligning the Infor-section div which is second section fo the project
Using flex-box centering things here
=======================
*/
.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.form-container{
    width: 40%;
    font-size: 1.5em;
}

.form-container form{
    display: flex;
    flex-direction: column;
}
.form-container form label{
    text-align: center;
    font-size: 40px;
}
.form-container form label,input{
    margin-top: 10px;
}

.form-container form #submit{
    width: 40%;
    align-self: center;
}

/*
=========================================
Third section for Vide0 dont have a clue right now XD
=========================================
*/

.video-section{
   display: flex;
   justify-content: center;
}

#video{
    margin: 30px;
    width: 400px;
}


/*
======================
Features Section here
======================
*/

#features{
    width: 100%;
    align-self: center;
}


.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc{
    width: 50%;
}

.icon{
    font-size: 45px;
}

.desc{
    margin-left: 40px;
    font-size: 1.1em;
}
/*
============================================
Pricing Card Section
============================================
*/
.pricing{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.card-container{
    display: flex;
    max-width: 80%;
}


.card{
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    width: 60%;
    margin:0px 50px;
    margin-top: 40px;
    border: 5px solid beige;
    border-radius: 10%; 
    font-size: 1.1em;
}

.pricing .card-container .card ol{
    padding-left:15px;
}

.pricing .card-container .card h4{
    text-align: center;
}

.pricing .card-container .card h3{
    padding: 0px;
}

.form-container form label, input{
    font-size: .8em;
    margin-bottom: 20px;
}

/*
===================================
Footer Section
==================================
*/
.footer{
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-content{
    display: flex;
    width: 69%;
    justify-content: flex-end;
    margin: 40px 0px;
}

.nav-link{
    margin: 0px 10px;
}